{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hop-In</title>
    
    <link rel="stylesheet" href="{% static 'hopin_app/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<body>

       {% if messages %}
        {% for message in messages %}
            <script>
            alert("{{ message|escapejs }}");
            </script>
        {% endfor %}
    {% endif %}

    
    <div class="page">
        <h1 class="main_title abs">HopIn</h1>
            <div class="auth">
                <div class="log">
                    <a href="{% url 'testlogin' %}">Log in</a>
                </div>

                <a href="{% url 'testsignup' %}" class="signbtn">
                    <span class="signtxt">Sign up</span>
                </a>
                
                <div class="log">
                    <a href="{% url 'logout' %}">Log Out</a>
                </div>

            </div>
        <img src="{% static 'hopin_app/images/logo.png' %}" alt="My image" class="logo abs">
        <div class="text abs">
            <span>Ride</span><br>
            <span>Share</span><br>
            <span>Go</span>
        </div>
        <p class="descrp abs">Built for students, designed for simplicity</p>
        <a href="req.html" class="reqbtn abs">
            <span class="reqtxt">Request <span class="arrow">&gt;</span></span>
        </a>
        <a href="pick.html" class="pickbtn abs">
            <span class="picktxt">Pickup <span class="arrow">&gt;</span></span>
        </a>
        <image src="{% static 'hopin_app/images/des.png' %}" alt="My image" class="des abs"></image>
    </div>
</body>

</html>