<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Login</title>
</head>
<body>

    {# default message display snippet- as web popup #}
    {% if messages %}
        {% for message in messages %}
            <script>
            alert("{{ message|escapejs }}");
            </script>
        {% endfor %}
    {% endif %}


    <p>Hi, This is Test Signup</p>
    <form method="POST">
        {% csrf_token %}
            <input type="text" name="first_name" placeholder="first name">
            <input type="text" name="last_name" placeholder="last name">
            <input type="text" name="email" placeholder="user email">
            <input type="text" name="password" placeholder="user password">
            <button type="submit">Submit Form</button>
    </form>
</body>
</html>