<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book-a-trip</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script> 
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    
    {% comment %} default message segment {% endcomment %}
    {% if messages %}
        {% for message in messages %}
            <script>
                alert("{{ message|escapejs }}");
            </script>
        {% endfor %}
    {% endif %}

    {% comment %} accepted rides {% endcomment %}
    <h1>Accepted Rides</h1>
    {% if accepted %}
        {% for request in accepted %}
            <form method="POST" action="{% url 'testrider' %}">
                {% csrf_token %}

                <p>{{ request.rider }}</p>
                <input type="hidden" name="requestid" id="requestid" value="{{ request.id }}">
                <input type="hidden" name="tripid" id="tripid" value="{{ request.trip.id }}">
                <button type="submit" name="action" value="seemore">See more</button>
                <button type="submit" name="action" value="cancelrequest">Cancel</button>
            </form>
        {% endfor %}
      {% else %}
        <p>No Accepted Rides</p>
    {% endif %}
    </br>

    {% comment %} past rides {% endcomment %}
    <h1>Past Rides</h1>
    {% if pastrides %}
          {% for rides in pastrides %}
            <p>{{ rides.trip.usercredentials }}</p>
          {% endfor %}
      {% else %}
        <p>No Previous Rides</p>
    {% endif %}

    {% comment %} create new trip {% endcomment %}
    <h1 class="text-center">Book a trip</h1>
    
    <div class="d-flex justify-content-center mt-5">
      <form method="POST" action="{% url 'testrider' %}">
        {% csrf_token %}

        {% comment %} location {% endcomment %}
        <div class="mb-2">
          <label>Location: </label>
          <input type="text" id="location-input" name="location" required>
          <div id="autocomplete-results" class="list-group position-absolute w-100 shadow" style="z-index: 1000;"> </div>
          <input type="hidden" name="latitude" id="lat">
          <input type="hidden" name="longitude" id="lng">
        </div>
        <div id="map" style="height:400px;" class="mb-3"></div>

        {% comment %} direction {% endcomment %}
        <div class="mb-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" value="to" name="direction" id="radioDefault1" checked>
            <label class="form-check-label" for="radioDefault1">To College</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="from" name="direction" id="radioDefault2">
            <label class="form-check-label" for="radioDefault2">From College</label>
          </div>
        </div>

        {% comment %} Date {% endcomment %}
        <label>Date</label>
        <input type="date" name="ridedate" required>

        {% comment %} Time {% endcomment %}
        <label>Time</label>
        <input type="time" id="ridetime" name="ridetime" required>

        <button type="submit" name="action" value="riderdetails">Enter</button>
      </form>
    </div>

    {% comment %} available rides on your route {% endcomment %}
    <h1>Available Rides</h1>
    {% if rides %}
      {% for trip, distance, score in rides %}

      <form method="POST" action="{% url 'testrider' %}">
        {% csrf_token %}

        <p>{{ trip.usercredentials }}</p>

        <div id="map{{ trip.id }}" style="height:200px;width:25%;margin-bottom:10px;"></div>

        <script>
          document.addEventListener("DOMContentLoaded", function(){

            const route = {{ trip.routegeometry|safe }};

            const riderLat = {{ riderlatitude }};
            const riderLng = {{ riderlongitude }};

            const first = route.coordinates[0];
            const startLat = first[1];
            const startLng = first[0];

            const map = L.map('map{{ trip.id }}').setView([startLat, startLng], 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19
            }).addTo(map);

            // Convert GeoJSON coords
            const latlngs = route.coordinates.map(coord => [coord[1], coord[0]]);

            // Draw route
            const polyline = L.polyline(latlngs, {
                color: 'blue',
                weight: 4
            }).addTo(map);

            // Ride Start marker
            L.marker(latlngs[0])
              .addTo(map)
              .bindPopup("Ride Start");

            // Destination marker
            const last = latlngs[latlngs.length - 1];
            L.marker(last)
              .addTo(map)
              .bindPopup("Destination");

            // Rider pickup marker
            L.marker([riderLat, riderLng])
              .addTo(map)
              .bindPopup("Your Pickup Location");

            map.fitBounds(polyline.getBounds());

          });
        </script>

        <input type="hidden" name="rideid" value="{{ trip.id }}">

        {% if trip.id in requestedrides %}
            <button disabled>Requested</button>
        {% else %}
            <button type="submit" name="action" value="requestride">Request</button>
        {% endif %}

      </form>

      {% endfor %}
    {% else %}
      <p>No Rides Available</p>
    {% endif %}

    {% comment %} list of request you sent {% endcomment %}
    <h1>Ongoing Rides</h1>
    {% if requests %}
      {% for request in requests %}
      <form method="POST" action="{% url 'testrider' %}">
        {% csrf_token %}

        <p>{{ request.trip }}</p>

        <div id="map{{ request.id }}" style="height:200px;width:20%;margin-bottom:10px;"></div>

        <script>
          document.addEventListener("DOMContentLoaded", function(){

            const pickupLat = {{ request.pickuplatitude }};
            const pickupLng = {{ request.pickuplongitude }};

            const route = {{ request.trip.routegeometry|safe }};

            const map = L.map('map{{ request.id }}').setView([pickupLat, pickupLng], 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19
            }).addTo(map);

            // pickup marker
            L.marker([pickupLat, pickupLng]).addTo(map)
              .bindPopup("Pickup Location");

            // convert GeoJSON coords to leaflet format
            const latlngs = route.coordinates.map(coord => [coord[1], coord[0]]);

            const polyline = L.polyline(latlngs, {
                color: 'blue',
                weight: 4
            }).addTo(map);

            // START coordinate
            const start = route.coordinates[0];
            const startLatLng = [start[1], start[0]];

            L.marker(startLatLng)
              .addTo(map)
              .bindPopup("Ride Start");

            // END coordinate
            const end = route.coordinates[route.coordinates.length - 1];
            const endLatLng = [end[1], end[0]];

            L.marker(endLatLng)
              .addTo(map)
              .bindPopup("Ride Destination");

            map.fitBounds(polyline.getBounds());

          });
        </script>

        <input type="hidden" name="requestid" value="{{ request.id }}">
        <button type="submit" name="action" value="cancelrequest">Cancel</button>

      </form>
      {% endfor %}
    {% else %}
      <p>No Ongoing Request</p>
    {% endif %}

    <script>
    
      {% comment %} date manager {% endcomment %}
        const dateInput = document.querySelector("input[name='ridedate']");

        const today = new Date();
        const tomorrow = new Date();
        tomorrow.setDate(today.getDate() + 1);

        function formatDate(d) {
            let month = (d.getMonth() + 1).toString().padStart(2, '0');
            let day = d.getDate().toString().padStart(2, '0');
            return `${d.getFullYear()}-${month}-${day}`;
        }

        dateInput.min = formatDate(today);
        dateInput.max = formatDate(tomorrow);


        {% comment %} time manager {% endcomment %}
        const directionRadios = document.querySelectorAll("input[name='direction']");
        const timeInput = document.getElementById("ridetime");

        directionRadios.forEach(radio => {
            radio.addEventListener("change", function () {

                if (this.value === "to") {
                    timeInput.value = "08:00";
                    timeInput.readOnly = true;
                }

                else {
                    timeInput.value = "13:30";
                    timeInput.readOnly = false;
                }

            });
        });

      {% comment %} initilaizing map {% endcomment %}
      const map = L.map('map').setView([10.8505, 76.2711], 8);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; OpenStreetMap contributors'}).addTo(map);

      let marker = L.marker([10.8505, 76.2711], { draggable: true }).addTo(map);

      {% comment %} map button actions {% endcomment %}
      marker.on('dragend', function () {
          const position = marker.getLatLng();
          document.getElementById('lat').value = position.lat;
          document.getElementById('lng').value = position.lng;
      });

      map.on('click', function(e) {
        
          const lat = e.latlng.lat;
          const lng = e.latlng.lng;

          marker.setLatLng([lat, lng]);

          document.getElementById('lat').value = lat;
          document.getElementById('lng').value = lng;
      });


      {% comment %} location suggession {% endcomment %}
      const input = document.getElementById("location-input");
      const resultsBox = document.getElementById("autocomplete-results");

      let debounceTimer;

      input.addEventListener("input", function () {
          const query = input.value.trim();
          clearTimeout(debounceTimer);

          if (query.length < 3) {
              resultsBox.innerHTML = "";
              return;
          }

          debounceTimer = setTimeout(() => {
              fetch(`https://nominatim.openstreetmap.org/search?format=json&q=${encodeURIComponent(query)}&countrycodes=in&limit=5&accept-language=en`)
                  .then(response => response.json())
                  .then(data => {

                      resultsBox.innerHTML = "";

                      data.forEach(place => {
                          const item = document.createElement("a");
                          item.className = "list-group-item list-group-item-action";
                          item.textContent = place.display_name;

                          item.addEventListener("click", () => {

                              input.value = place.display_name;

                              const lat = parseFloat(place.lat);
                              const lon = parseFloat(place.lon);

                              document.getElementById("lat").value = lat;
                              document.getElementById("lng").value = lon;

                              map.setView([lat, lon], 16);
                              marker.setLatLng([lat, lon]);

                              resultsBox.innerHTML = "";
                          });

                          resultsBox.appendChild(item);
                      });
                  });
          }, 400);
      });

      document.addEventListener("click", function (e) {
          if (!input.contains(e.target)) {
              resultsBox.innerHTML = "";
          }
      });

    </script>

  </body>
</html>