<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <title>Test Payment</title>
</head>

<body>
    <h1>Payment</h1>
    <form method="POST" action="{% url 'testpay' paymentdetails.id %}">
    {% csrf_token %}
        <h3>{{ paymentdetails }}</h1>
        <input type="hidden" name="requestid" value="{{ paymentdetails.requestdetails.id }}">   
    {% if paymentdetails.requestdetails.rating %}
        <button type="submit" name="action" value="completepayment">Pay</button>
    {% else %}
        <button type="submit" disabled title="Please rate before paying">Pay</button>
    {% endif %}
    </form>

    <form method="POST" action="{% url 'testpay' paymentdetails.id %}">
    {% csrf_token %}
        <label>Rate the Ride: </label>
        <input type="number" name="rating">
        <input type="hidden" name="requestid" value="{{ paymentdetails.requestdetails.id }}">   
        <button type="submit" name="action" value="rateride">Rate</button>
    </form>


    {% if paymentdetails.status == "PENDING" %}
        {% if orderid %}
        <script>
            var options={
                "key": "{{ RAZORID }}",
                "amount": "{{ amount }}",
                "currency": "INR",
                "name": "Hop In",
                "order_id": "{{ orderid }}",

                "handler": function (response){
                    fetch("/verifypayment/", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        body: JSON.stringify(response)
                    })
                    .then(res => res.json())
                    .then(data => {
                        if(data.status === "success"){
                            alert("Payment Successful");
                            window.location.replace("{% url 'landing' %}");
                        }
                    });
                }
            };

            var rzp=new Razorpay(options);
            rzp.open();
        </script>
        {% endif %}
    
    {% endif %}
    
</body>
</html>