<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <title>Live Tracking</title>

    <style>
        #map{
            height: 500px;
            width: 100%;
        }
    </style>
</head>
<body>

    <h1>Live Tracking</h1>
    <div id="map"></div>

    <form method="POST" action="{% url 'testtracking' rideid %}">
        {% csrf_token %}
        <input type="hidden" name="tripid" id="tripid" value="{{ rideid }}">
        <input type="hidden" name="requestid" id="requestid" value="{{ requestid }}">
        <button type="submit" name="action" id="confirmbutton" value="confirmride" disabled>Confirm</button>
    </form>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        
        //csrf token for form submission
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie("csrftoken");

        //ride request status check
        function checkPickup() {
            
            fetch("/fetchstatus/{{ requestid }}/")
            .then(response => response.json())
            .then(data => {
                console.log(data.status)
                if(data.status === "HALFCONFIRM") {

                    document.getElementById("confirmbutton").disabled=false;

                }
                else
                {
                   document.getElementById("confirmbutton").disabled=true; 
                }

            });

        }
        setInterval(checkPickup, 3000);



        //set location on map
        const map = L.map("map").setView([10.0469, 76.3467], 15);
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {attribution: "&copy; OpenStreetMap contributors"}).addTo(map);

        const driverMarker = L.marker([10.0469, 76.3467]).addTo(map).bindPopup("Driver");
        const riderMarker = L.marker([{{ riderlatitude }}, {{ riderlongitude }}]).addTo(map).bindPopup("Rider");
        let routeLine = null;
        let routeCoords = [];
        let remainingRouteLine = null;
        let travelledRouteLine = null;

        function getDriverLocation(){

            fetch("/fetchtracking/{{ rideid }}/")
            .then(res => res.json())
            .then(data => {
                const lat = data.lat;
                const lng = data.lng;
                console.log(data);
                
                if(data.status === "COMPLETED"){
                    clearInterval(trackingInterval);
                    window.location.href = "/testrider";
                    return;
                }

                driverMarker.setLatLng([lat, lng]);

                if(routeCoords.length === 0 && data.route){

                    const routeGeoJSON = JSON.parse(data.route);
                    routeCoords = routeGeoJSON.coordinates.map(coord => [coord[1], coord[0]]);

                    remainingRouteLine = L.polyline(routeCoords, {
                        color: "blue",
                        weight: 5
                    }).addTo(map);

                    map.fitBounds(remainingRouteLine.getBounds());

                    const coords = routeGeoJSON.coordinates;
                    const start = coords[0];
                    const end = coords[coords.length - 1];

                    const startLatLng = [start[1], start[0]];
                    const endLatLng = [end[1], end[0]];

                    const startMarker = L.marker(startLatLng)
                        .addTo(map)
                        .bindPopup("Start");

                    const endMarker = L.marker(endLatLng)
                        .addTo(map)
                        .bindPopup("Destination");
            };


        const driverPos = [lat, lng];

        // find closest point on route
        let closestIndex = 0;
        let minDist = Infinity;

        routeCoords.forEach((point, i) => {
            const dist = map.distance(driverPos, point);
            if(dist < minDist){
                minDist = dist;
                closestIndex = i;
            }
        });

        // split route
        const travelled = routeCoords.slice(0, closestIndex);
        const remaining = routeCoords.slice(closestIndex);

        // update remaining route (blue)
        if(remainingRouteLine){
            map.removeLayer(remainingRouteLine);
        }

        remainingRouteLine = L.polyline(remaining, {
            color: "blue",
            weight: 5
        }).addTo(map);

        })}



        const trackingInterval = setInterval(getDriverLocation, 3000);
    </script>
</body>
</html>