@font-face {
    font-family: 'Black Mango';
    src:  url('../fonts/Black_Mango _SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* "{% static 'hopin_app/fonts/Brasika_Display_Regular.otf' %}" */
@font-face {
    font-family: 'Brasika';
    src:  url('../fonts/Brasika_Display_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Black Mango', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #191265;
}

.title-hop-in {
    font-family: 'Brasika', serif;
    font-weight: normal;
    line-height: 0.85;
    letter-spacing: -0.01em;
    transform: scaleX(1.05);
    transform-origin: left;
}

.nav-link-active {
    position: relative;
}
.nav-link-active::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 28px;
    height: 2px;
    background-color: #EAE9DF;
}